body {
	font-family: 'Open Sans';
	margin: 0;
	background-color: #808080;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  background-color: #4c1724;
  color: #f7f7f7;
  padding: 25px 0;
  text-align: center;
  margin: 0;
}

img.resize{
   width:200px;
   height:200px;
}

#bigdiv {
  border:3px solid black;
  height: 900px
}


#avatar {
	background-image: url('https://pbs.twimg.com/profile_images/976907679850467328/hH3InrE7_400x400.jpg');
	background-size: 100%;
	background-position: 50% 10%;
	width: 265px;
	height: 265px;
	border-radius: 35%;
	border-style: solid;
	border-width: 2px;
	border-color: #1c1c1c;
	margin: 95px auto;
}

nav ul{
	background-color:#792539;
	overflow: hidden;
	color: white;
	text-align: center;
	padding: 10px;
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
}

nav ul li{
	padding: 10px;
	display: inline-block;
}

nav ul li:hover{
	background-color:#b53755;
	padding: 10
}

#gh {
  	background-image: url('http://i.imgur.com/wfyjn5g.png');
  	position: absolute;
  	width: 32px;
  	height: 32px;
  	top: 18px;
  	right: 18px;
  	opacity: 1;
  	transition: opacity 0.25s;
  	border-radius: 49%;
  }

  #gh:hover {
  	opacity: 0.8;
  	transition: opacity 0.25s;
  }

	#form{
		width: 500px;
		text-align: center;
		margin: auto;
	}

	#sendbutton{
		width: 80px;
		margin: 20px;
	}

	#message{
		height: 150px;
		width: 500px;
	}

	input{
  width:100%
}

.name {
	font-size:30px;
}

.core{
	padding-top:50px;
}

.para{
	padding-top: 20px;
}

.call-outs-container {
	max-width: 1400px;
	margin: 40px auto 0 auto;
	display: flex;
}

.call-out {
	padding: 20px;
	margin-bottom: 20px;
	flex: 1;
}

#mgplist a {
  margin: 2px;
  border: 2px solid #333;
  display: inline-block;
}

@media (min-width: 600px)  {
	p {
		font-size: 1.5rem;
		line-height: 1.5;
	}
}

@media (min-width: 800px) {
	p{
		font-size: 1.5rem;
		line-height: 1.5;
	}
}

@@media min {

}
